<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<div th:replace="/fragments/styling :: head-style"></div>

</head>


<body>
	<div th:fragment="navbar">
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Tech Talent Store</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="@{}">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Search By Category </a></li>
      <li><a href="#">Search By Brand</a></li>
      <li><a href="@{}">Cart</a></li>
      <!-- <li sec:authorize="hasRole('ROLE_SELLER')"> -->
      <li><a href="addItem">Add Item</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Sign Out</a></li>
      <li><a href="#"></a></li>
    </ul>
  </div>
</nav>
	</div>
	


	<div th:replace="/fragments/styling :: body-links"></div>
</body>
</html>