<!DOCTYPE html>

<html xmlns:th="http://wwww.thymeleaf.org"
	xmalns:sec="http://wwww.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

<div th:replace="/fragments/styling :: head-style"></div>
</head>
<body>
	<div class="container">
		<div th:replace="/fragments/navbar :: navbar"></div>
		<p>Home after Login</p>

		<div class="panel panel-default" style="background: #e6f2ff">
			<div class="poanel-body">
				<h1
					style="text-align: left; font-family: actor; font-size: 70px; font-weight: lighter; margin-left: 50px">
					<br>Tech Talent Store<br>
				</h1>
				<p style="font-size: 17px; margin-left: 15px">
					This is a small ecommerce application that allows the user to
					purshase some of a few products that are offered here<br> <br>
					<br>
				</p>
			</div>
				<div th:each="i : ${#numbers.sequence( 0, itemDetailsDto.noOfRows-1)}">
					<div class="row">
						<div th:each="j : ${#numbers.sequence( 0, 3)}">
							<div class="col-md-3">
								<a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjgtYSW5u7kAhVK-6wKHV4OC8kQPAgH"><img th:src="${itemDetailsDto.items[(i*4)+j].image}"></a>
							</div>
						</div>

					</div>
				</div>
			<div th:if="${itemDetailsDto.remainingElements!= 0}">
				<div class="row">
					<div th:each="j : ${#numbers.sequence( 0, itemDetailsDto.remainingElements-1)}">
						<div class="col-md-3">
							<a href="https://www.google.com/webhp?hl=en&sa=X&ved=0ahUKEwjgtYSW5u7kAhVK-6wKHV4OC8kQPAgH"><img th:src="${itemDetailsDto.items[(itemDetailsDto.noOfRows*4)+j].image}"></a>
						</div>
					</div>
				</div>
			</div>


		</div>


		<div sec:authorize="isAuthenticated()">Authenticated Users Only</div>
		<div sec:authorize="hasRole('ROLE_ADMIN')">Admins only</div>
		<div sec:authorize="hasRole('ROLE_USER')">Users only</div>
</body>

</div>
<div th:replace="/fragments/styling :: body-links"></div>

</body>
</html>